.long-pipe {
	display: inline-block;
	transform: scaleY(1.5) translateY(-2px);
}
body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url('../Image/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 100%; /* Giữa lại để nội dung hiển thị rộng hơn trên điện thoại */
    margin: 20px auto; /* Điều chỉnh khoảng cách */
    padding: 10px; /* Điều chỉnh khoảng cách */
}

h1 {
    font-size: 24px; /* Giảm kích thước chữ */
}

input[type="text"] {
    width: 90%; /* Giảm độ rộng */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 18px; /* Tăng kích thước chữ */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0074e4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Tăng kích thước chữ */
}

button:hover {
    background-color: #0057b3;
}

#result {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 20px; /* Tăng kích thước chữ */
    font-weight: bold;
    text-align: center;
}

#result h2 {
    font-size: 24px;
    color: #333;
}
